<!DOCTYPE html>
<html>
<head>
    <title>Paper Trading</title>
</head>
<body>

<a href="/dashboard">Dashboard</a> |
<a href="/market">Market</a> |
<a href="/portfolio">Portfolio</a> |
<a href="/orders">Orders</a> |
<a href="/paper-trading">Paper Trading</a> |
<a href="/logout">Logout</a>
<hr>

    <h1>Paper Trading</h1>

    <p>Virtual trading system will be added here before real order execution.</p>

    <h3>Virtual Balance: ₹1,00,000</h3>

    <table border="1" cellpadding="10">
        <tr>
            <th>Stock</th>
            <th>Action</th>
            <th>Quantity</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>INFY</td>
            <td>BUY</td>
            <td>1</td>
            <td>Demo Trade</td>
        </tr>
    </table>

    <br>
    <a href="/dashboard">Back to Dashboard</a>
</body>
</html>