{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Paper Trading</h2>

<div class="card shadow-sm p-4 mb-4">
    <h4>Virtual Balance</h4>
    <h2>₹1,00,000</h2>
</div>

<div class="card shadow-sm">
    <div class="card-header bg-dark text-white">
        Demo Trades
    </div>

    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <th>Stock</th>
                <th>Action</th>
                <th>Qty</th>
                <th>Status</th>
            </tr>

            <tr>
                <td>INFY</td>
                <td>BUY</td>
                <td>1</td>
                <td>Demo Trade</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}