{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Portfolio</h2>

<div class="row g-4 mb-4">
    <div class="col-md-4">
        <div class="card p-3 shadow-sm">
            <h5>Name</h5>
            <h3>{{ profile.user_name }}</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow-sm">
            <h5>Email</h5>
            <h6>{{ profile.email }}</h6>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow-sm">
            <h5>Available Cash</h5>
            <h3>₹{{ cash }}</h3>
        </div>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-header bg-dark text-white">
        Holdings
    </div>

    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <th>Stock</th>
                <th>Qty</th>
                <th>Avg Price</th>
                <th>Last Price</th>
                <th>P&L</th>
            </tr>

            {% for h in holdings %}
            <tr>
                <td>{{ h.tradingsymbol }}</td>
                <td>{{ h.quantity }}</td>
                <td>{{ h.average_price }}</td>
                <td>{{ h.last_price }}</td>
                <td>{{ h.pnl }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}